:root {
	--primary-bg: #221d1d;
	--primary-text: #ffffff;

	/* Button */
	--primary-button-bg: #ce4d46;
	--primary-button-color: #a43d38;
	--secondary-button-bg: #ffffff33;
	--select-border-color: ##ffffff33;

	--feedback-button-bg: #534F4F;
	--footer-border: #ffffff26;
}
