@import "./reset.css";
@import "./colors.css";
@import "./fonts.css";

body {
	font-family: "Heebo", sans-serif;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

/* Shared */

.text {
	font-size: var(--medium);
	line-height: 150%;
	letter-spacing: 0%;
}

img {
	border-radius: 16px;
}

.section-title {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 500;
	font-size: var(--heading);
	line-height: 120%;
	letter-spacing: -1%;
}

.primary-icon {
	color: var(--primary-text);
	width: 24px;
	height: 24px;
}

.large-icon {
	width: 48px;
	height: 48px;
}

.icon-medium {
	width: 32px;
	height: 32px;
}

.icon-logo {
	width: 144px;
	height: 40px;
}

.footer-logo {
	width: 278px;
	height: 80px;
}

.header-logo-link {
	display: flex;
	animation: rubberBand;
	animation-duration: 2s;
}

.general-link:hover,
.general-link:focus-visible {
	text-decoration: underline;
	transition: text-decoration 250ms ease-in-out;
}

.general-link:active {
	color: var(--primary-button-bg);
}

.general-link.disabled {
	opacity: 0.2;
	pointer-events: none;
}

/* Header */

.header {
	padding: 16px 0;
	max-height: 72px;
}

.navigation {
	display: flex;
}

.navigation-list {
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 32px;
	margin-left: 40px;
}

.navigation-list-link {
	padding: 8px 0;
}

.header > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-button {
	color: inherit;
	font-weight: 500;
	font-size: var(--regular);
	padding: 8px 20px;
	background-color: var(--primary-button-bg);
	border-top-width: 1.5px;
	border-right-width: 1.5px;
	border-left-width: 1.5px;
	border-bottom-width: 4px;
	border-radius: 6px;
	border-style: solid;
	border-color: var(--primary-button-color);
	outline: none;
}

.order-button:hover,
.order-button:focus-visible {
	background-color: var(--primary-button-hover-bg);
	transition: background-color 250ms ease-in-out;
}

.order-button:active {
	background-color: var(--primary-button-hover-bg);
	border-color: var(--primary-button-hover-bg);
	transition:
		background-color 250ms ease-in-out,
		border-color 250ms ease-in-out;
}

.order-button:disabled,
.order-button[disabled] {
	background-color: var(--primary-button-bg);
	border-color: var(--primary-button-color);
	opacity: 0.2;
	cursor: auto;
}

.secondary-button {
	color: inherit;
	font-weight: 500;
	font-size: var(--regular);
	padding: 10px 24px;
	background-color: transparent;
	border-top-width: 1.5px;
	border-right-width: 1.5px;
	border-left-width: 1.5px;
	border-bottom-width: 4px;
	border-radius: 6px;
	border-style: solid;
	border-color: var(--secondary-button-bg);
}

.secondary-button:hover,
.secondary-button:focus-visible {
	background-color: var(--secondary-button-hover-bg);
	transition: background-color 250ms ease-in-out;
}

.secondary-button:active {
	background-color: var(--secondary-button-hover-bg);
	border-color: var(--secondary-button-hover-bg);
	transition:
		background-color 250ms ease-in-out,
		border-color 250ms ease-in-out;
}

.secondary-button:disabled,
.secondary-button[disabled] {
	background-color: var(--primary-button-hover-bg);
	border-color: var(--primary-button-hover-bg);
	opacity: 0.2;
	cursor: auto;
}

.section-wrapper {
	padding: 48px 0;
}

.container {
	width: 1336px;
	padding: 0 12px;
	margin: 0 auto;
	/* outline: solid red; */
}

/* Hero section */

.hero-section {
	padding: 112px 0;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5)), url("../images/hero-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1440px 100%;
}

.hero-title {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 500;
	font-size: var(--hero-title);
	line-height: 120%;
	letter-spacing: -1%;
	padding-top: 380px;
	max-width: 757px;
}

.hero-text {
	margin: 32px 0;
	max-width: 757px;
}

.hero-buttons {
	display: flex;
	align-items: center;
	gap: 32px;
}

.order-button__big {
	padding: 10px 24px;
}

/* About section */
.about-section {
	background-image: url("../images/about-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1440px 100%;
	mix-blend-mode: screen;
}

.about-image {
	width: 644px;
	height: 485px;
}

#about .container {
	display: flex;
	align-items: center;
	gap: 24px;
}

.about-section-title {
	margin-bottom: 24px;
}

/* Advantages section */

.advantages-section {
	background-image: url("../images/adventages-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 953px 100%;
	mix-blend-mode: lighten;
}

.advantages-section-title {
	margin-bottom: 80px;
	max-width: 553px;
}

.advantages-list {
	display: flex;
	gap: 32px;
}

.advantage-title {
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-size: var(--advantages-title);
	line-height: 130%;
	letter-spacing: -1%;
	max-width: 310px;
}

.advantage-subtitle {
	font-size: var(--regular);
}

.advantage-collapsible-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24px 0;
}

.advantages-list-item {
	width: calc(100% / 3);
}

.advantage-subtitle-wrapper {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition:
		max-height 250ms ease-in-out,
		opacity 250ms ease-in-out;
}

.advantages-label {
	cursor: pointer;
	transition: transform 250ms ease-in-out;
}

.advantages-toggle:checked ~ .advantage-subtitle-wrapper {
	max-height: 300px;
	opacity: 1;
	margin-top: 15px;
	transition:
		max-height 250ms ease-in-out,
		opacity 250ms ease-in-out;
}

.advantages-toggle:checked ~ .advantage-collapsible-block .advantages-label {
	transform: rotate(180deg);
}

/* Catalog section */
.сatalog-description-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 32px;
}

.catalog-section-img {
	width: 304px;
	height: 227px;
	margin-bottom: 16px;
}

.catalog-title {
	margin-bottom: 16px;
}

.catalog-item-title {
	font-weight: 600;
	font-size: vat(--medium);
}

.catalog-item-text {
	font-size: var(--small);
	margin-top: 8px;
	margin-bottom: 16px;
}

.catalog-item-price {
	font-weight: 600;
	font-size: var(--large);
	margin-bottom: 16px;
}

.catalog-more-button {
	padding-block: 8px;
	width: 100%;
}

.catalog-list {
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.catalog-list-item {
	height: 453px;
	flex-basis: calc((100% - (32px * 3)) / 4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.catalog-item-show-more-button {
	padding: 10px 24px;
	margin: 0 auto;
	display: flex;
}

.select,
.select::picker(select) {
	appearance: base-select;
}

.select {
	border-radius: 6px;
	border: 1px solid var(--select-border-color);
	background: var(--primary-bg);
	color: var(--primary-text);
	width: 309px;
	height: 40px;
	padding: 8px 12px;
	align-items: center;
	transition: border-color 250ms ease-in-out;
	cursor: pointer;
}

.select:focus-visible,
.select:hover {
	border-color: var(--select-focused-border-color);
	outline: none;
}

.select:open {
	border-radius: 8px 8px 0 0;
	border: 1px solid var(--select-focused-border-color);
	border-bottom: none;
}

.select::picker-icon {
	transition: 250ms rotate;
	content: url("../icons/chevron_down.svg");
	display: inline-block;
	width: 24px;
	height: 24px;
}

option {
	display: flex;
	background-color: transparent;
	color: var(--primary-text);
	padding: 8px;
	border-radius: 6px;
	font-size: var(--regular);
	outline: none;
	transition: background-color 250ms ease-in-out;
}

option:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

option:checked {
	background-color: rgba(255, 255, 255, 0.2);
}

.select:open::picker-icon {
	rotate: 180deg;
}

option::checkmark {
	display: none;
}

.select::picker(select) {
	background: var(--primary-bg);
	color: var(--primary-text);
	border-radius: 0 0 8px 8px;
	border: 1px solid var(--select-focused-border-color);
	border-top: none;
	padding: 8px;
}

/* Reviews section */

.feedback-star-icon {
	width: 20px;
	height: 20px;
}

.feedback-star-icon__filled {
	fill: var(--primary-button-bg);
}

.feedback-star-icon__empty {
	fill: transparent;
	stroke: var(--primary-button-bg);
}

.feedback-section-title {
	width: 560px;
	margin-bottom: 32px;
}

.feedback-list {
	display: flex;
	gap: 24px;
	margin-bottom: 48px;
}

.feedback-item {
	flex-basis: calc((100% - (24px)) / 2);
}

.feedback-text {
	margin-bottom: 32px;
	width: 596px;
}

.starts-list {
	display: flex;
	gap: 4px;
	align-items: center;
	margin-bottom: 32px;
}

.start-item {
	height: 20px;
}

.feedback-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: var(--feedback-button-bg);
	padding: 12px;
	border-radius: 4px;
	border: 1px solid var(--pagination-button-border-color);
	transition: background-color 250ms ease-in-out;
	outline: none;
}

.feedback-button:hover,
.feedback-button:focus-visible {
	background-color: var(--primary-button-bg);
}

.feedback-button:active {
	background-color: var(--select-focused-border-color);
	border-color: var(--select-focused-border-color);
}

.feedback-button:disabled,
.feedback-button[disabled] {
	opacity: 0.2;
	pointer-events: none;
}

.feedback-person-name {
	font-weight: 600;
}

.feedback-navigation-block {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
}

/* Gallery section */
.gallery-section-title {
	margin-bottom: 24px;
	text-align: center;
}

.gallery-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 24px;
	height: 1576px;
}

.gallery-item-image {
	max-width: 644px;
}

/* Contacts section */
.contacts-title {
	margin-bottom: 32px;
}

.contacts-block {
	display: flex;
	gap: 80px;
}

.contact-text {
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-size: var(--large);
	line-height: 140%;
	letter-spacing: -1%;
	font-style: normal;
	margin: 16px 0 8px;
}

.contact-value {
	font-size: var(--regular);
}

.contact-value__underline {
	text-decoration: underline;
}

.contacts-map {
	border-radius: 16px;
	width: 832px;
	height: 516px;
	border: none;
}

.contacts-list {
	flex: 1;
}

.contact-list-item:not(:last-child) {
	margin-bottom: 40px;
}

/* footer */

.footer-section {
	padding: 80px 0;
}

.footer-actions {
	display: flex;
	align-items: center;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--footer-border);
	margin-bottom: 32px;
}

.footer-navigation-list {
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 32px;
	margin-left: 32px;
}

.footer-navigation-link {
	padding: 8px 0;
}

.footer-socials {
	display: flex;
	gap: 12px;
	margin-left: auto;
}

.footer-caption {
	font-size: var(--small);
	text-align: center;
}
